*{
    margin: 0;
    padding: 0;
}
body{
    /* border: 2px solid red; */
    max width: 1440px;
    
}
.font-inter {
  font-family: Inter, sans-serif;
  
}
.banner-content{
   background: url(../assets/hero-bg.png);
   background-repeat: no-repeat;
   background-position:center;
   background-size: cover;
   height: 600px;
   justify-content: center;
   text-align: center; 
   display: flex;
   align-items: center; 
   
}

.banner-container {
    font-size: 18px;
    color: #FFFFFF;
    line-height: 24px;
    
    

}
.banner-container .green{
    color: #30B868;
}

.logo img{
    /* width: 139px;
    max-width: 1600px; */
    padding: 16px 120px ;
    
}

nav {
    display: flex;
    align-items: center;
    padding: 0 120px;
    justify-content: space-between;
    
   
}
nav .menu {
    text-decoration: none;
    color: #000000;
    align-items: center;
    display: flex;
    list-style-type:none;
    gap: 32px;
    padding: 34px auto;
    font-weight: 500;
    
    
}
nav .btn{
    background-color: #469165;
    color: white;
    border: none;
    font-size: ;
    font-weight: 600;
    border-radius: 4px;
    padding: 12px 16px;
    height: 44px;

}



.banner-content img{
    width: 100%;
}
/* .banner-content .banner-down{
    display: flex;
    flex-direction: row;
} */