*{
    margin: 0;
    padding: 0;
}

.font-inter {
  font-family: "Inter", sans-serif;
  
}
header{
    background-color: bisque;
}

.logo img{
    /* width: 139px;
    max-width: 1600px; */
    padding: 16px 120px ;
}
/* nav{
    align-items: center;
} */

nav .menu{
    display: flex;
    list-style-type:none;
    gap: 32px;
    align-items: center;
}

